/* Creates a menu */
.menu {
    position: fixed;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #645218;
    transition: .4s;
    
}

/* Slides the menu on screen */
.menu.open {
    left: 0;
}

.menuButtonOptions {
    display: flex;
    flex-direction: column;
}

.menuOptions {
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.titles {
    font-size: 28px; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center;
    position: relative;
    top: 1px;
}